<!DOCTYPE html>
<html>

<head>
    <title>Granblue Fantasy Gacha Simulator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
    <script src="http://chancejs.com/chance.js"></script>
    <script src='gbfSim.module.js'></script>
    <script src='service/rngService.js'></script>
    <script src='service/database.js'></script>
    <script src='controller/gbfSim.controller.js'></script>
    <style>
        body {
            background-color: linen;
        }
        
        h2 {
            color: maroon;
        }
        
        .gachaTable {
            float: left;
            width: 180px;
            margin-left: 5px;
            padding: 5px;
            border: 1px solid black;
        }
        
        .totalRoll {
            display: block;
            float: right;
            padding-right: 5px;
        }
    </style>
</head>

<body ng-app="gbfSim">
    <div ng-controller="GbfSimController">
    <h2>Granblue Fantasy Gacha Simulator</h2>
    <p>Currently all gacha are assume equal drop rate.</p>
    <div>
        <input type="number" name="number of roll" ng-model="totalRoll" min="1" max="10000" required>
        <span>total money: {{totalRoll * 300}} yen</span>
        <br/>
        <label>
            <input type="radio" ng-model="ssrRate" value="0.03"> Normal
        </label>
        <label>
            <input type="radio" ng-model="ssrRate" ng-value="0.06"> Legend Fest
        </label>
        <button ng-click="click()"><span>random</span></button>
    </div>
    <div>
        <button ng-click="rollUntilFound()"><span>roll until get</span></button>
        <button ng-click="clearAllChecked()"><span>clear all check</span></button>
    </div>
    <div ng-repeat="type in ['c', 'lc', 'ec', 'w', 's']">
        <div ng-repeat="elem in ['f', 'w', 'e', 'g', 'l', 'd']" class="gachaTable">
            <div ng-repeat="gacha in gachaDatabase|filter :{type: type, element: elem }  : true">
                <input type="checkbox" ng-model="gacha.checked"><span>{{gacha.name}}</span></input>    
                <span ng-if="gacha.totalGet > 0" class="totalRoll">{{gacha.totalGet}}</span>
            </div>
        </div>
        <p style="clear: both">&nbsp;</p>
    </div>
    <div ng-show="rollList.length > 0">
        <div>
            <span>Total SSR you get: {{totalSsr}}</span>
            <span>SSR drop rate: {{totalSsr / totalRoll * 100 | number:2}}%</span>
        </div>
        <label>Show details:<input type="checkbox" ng-model="showDetails"></label>
        <br/>
        <div ng-if="showDetails">
            <div ng-repeat="roll in rollList">
                <span>{{roll.drop}}:{{roll.roll}}</span><span ng-if="roll.drop=='SSR'">:{{roll.name}}</span>
            </div>
        </div>
    </div>
</div>
</body>

</html>
